.Main
  .group-info
    .group-info__group
      %p.group-info__groupname
        groupname
      %ul.group-info__group-member
        member:
        %li.group-info__group-username
          name

    %p.group-info__edit
      = link_to "#", class:"group-info__edit-btn" do
        Edit
      


  .message
    .message-list
      %ul.message-list__info
        %li.message-list__name
          name
        %li.message-list__date
          date
      %p.message-list__text
        message

    .message-list
      %ul.message-list__info
        %li.message-list__name
          name
        %li.message-list__date
          date
      %p.message-list__text
        message



  .form
    %form.message-form
      .input-message
        %input{type: "text", class: "input-message__text", placeholder: "type a message"}
        %label{class: "input-message__image"}
          = icon('fas', 'image')
          %input{type: "file", class: "input-message__image__file"}
      %input{type: "submit", class: "submit-btn", value: "Send"} 
