.SideBar

  .side-header
    .side-header__username
      %p.side-header__name
        = current_user.name
      %ul.side-header__menu
        %li.side-header__new-group
          = link_to "#", class:"side-header__icon" do
            .i.fa.fa-edit
        %li.side-header__edit-user
          = link_to edit_user_path(current_user), class:"side-header__icon" do
            .i.fa.fa-cog

  .group-list
    .group
      %p.group__groupname 
        "groupname"
      %p.group__new-message
        "no message"

    .group
      %p.group__groupname 
        "groupname"
      %p.group__new-message
        "no message"


